<form method="post" class="auth-form" action="/auth/login">
    <div class="logo-login">
        <a href="/"><img src="/images/logoS.svg"></a>
    </div>
        {{#if error}}
            <div class="alert alert-danger" style="margin-top: 30px">{{ message}}</div>
        {{/if}}
        {{#if isAuth}}
                <div class="mb-3">
                    Вы авторизованы как , <a href="">Выход</a>
                </div>
        {{else}}
    <div class="form-group">
        <label for="inputUsername">E-mail</label>
        <input type="email" value="" name="email" id="inputUsername" class="form-control" required autofocus>
    </div>
    <div class="form-group">
        <label for="inputPassword">Пароль</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">
    
    
    <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Запомнить меня
            </label>
    </div>

    <button class="btn btn-block btn-primary" type="submit">
        Войти
    </button>
    <div class="mt-2 text-center">
      <a href="/auth/register">Зарегистрироваться</a>
    </div>
    {{/if}}
</form>
