<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="shortcut icon" href="/favicon.png">
        <link rel="apple-touch-icon shortcut icon" href="/apple-touch-icon.png" >
        <link rel="apple-touch-icon shortcut icon" sizes="76x76" href="/apple-touch-icon.png">
        <link rel="apple-touch-icon shortcut icon" sizes="120x120" href="/apple-touch-icon.png">
        <link rel="apple-touch-icon shortcut icon" sizes="152x152" href="/apple-touch-icon.png">
        <script>document.getElementsByTagName("html")[0].className += " js";</script>
    </head>
    <body>