<div class="xs-hide col-md-5">
                <ul class="menu">
                    <li><a href="/about">О платформе</a></li>
                    <li><a href="/price">Прайс</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                    <li><a href="/use">Применение</a></li>
                </ul>
            </div>
            <div class="col-3 col-md-2"><a href="/"><img src="/images/logoS.svg" class="logo-main img-fluid" alt="simple platform"></a></div>
            <div class="col-md-5 col-9 text-right">
                {{#if isAuth}}
                    <a href="/panel" class="btn btn-primary">Панель</a>
                    <a href="/auth/logout" class="btn btn-secondary">Выход</a>
                {{else}}
                    <a href="/login" class="btn btn-secondary">Войти</a>
                    <a href="/register" class="btn btn-primary">Регистрация</a>
                {{/if}}
                <div class="xs-show">
                    <div class="menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>