<div class="container">
    <header class="no-main">
        <div class="row">
            {{> navbar}}
        </div>
    </header>
    <div class="price-page">
        
        <h1>404 ошибка</h1>
        <p>Страница не найдена. Вернуться на <a href="/">главную</a></p>


    </div>
</div>



