<div class="container">
    <header class="no-main">
        <div class="row">
            {{> navbar}}
        </div>
    </header>
    <div class="price-page">
        <h1 class="mb-5 text-center">Что такое Simple Platform</h1>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <p>Почему мы&nbsp;решили воплотить этот проект в&nbsp;жизнь.</p>
                <p>Получив большой опыт работы со&nbsp;всеми популярными <acronym title="Content management system" lang="en">CMS</acronym> и&nbsp;конструкторами, зная все подводные камни, плюсы и&nbsp;минусы всех вариантов, в&nbsp;один момент наша команда пришла к&nbsp;тому, что настало время сделать своё&nbsp;&mdash; простое, удобное, надежное. Работающее как часы.</p>
                <p>Вполне понимая резко возросшую конкуренцию на&nbsp;рынке платформ для <nobr>интернет-магазинов</nobr>, мы&nbsp;решили сделать упор на:</p>
                <ul><li>Простой и&nbsp;понятной стоимости магазина;</li><li>Правильном UI/UX дизайне, который доведет гостя до&nbsp;покупки;</li><li>Возможности подключить ЛЮБУЮ систему учета и&nbsp;настроить двусторонний обмен данными;</li><li>Чтоб в&nbsp;<nobr>интернет-магазине</nobr> всегда был верный остаток товара, а&nbsp;вы&nbsp;всегда вовремя узнали о&nbsp;новых заказах.</li></ul>
                <p>Мы&nbsp;точно <b>НЕ</b>&nbsp;предлагаем новые технологии или продукт, который увеличит ваши продажи на&nbsp;800%.</p>
                <p>Просто на&nbsp;самом деле так не&nbsp;бывает.</p>
                <p>Качественный рост продаж&nbsp;&mdash; это правильное соотношение хорошего товара, его стоимости и&nbsp;умения правильно его продать.</p>
                <p>Изо дня в&nbsp;день.</p>
                <p>Мы&nbsp;точно предлагаем надежный инструмент для продаж в&nbsp;интернете.</p>
                <p>Чтоб вы&nbsp;смогли спокойно заниматься продажами и&nbsp;продвижением, не&nbsp;тратя время на&nbsp;администрирование магазина.</p>
                <p>Просто мы&nbsp;верим в&nbsp;то, что технологии должны быть удобными, понятными и&nbsp;недорогими.</p>
                <p>И, самое главное, работающими.</p>
                <p style="font-weight: bold; text-align: right;">Приятно познакомиться, ваш Simple Platform</p>
            </div>
        </div>


    </div>
</div>