    <div class="container">
        <div class="bg-main-slide">
            <header>
                <div class="row">

                    <div class="xs-hide col-md-5">
                        <ul class="menu">
                            <li><a href="/about">О платформе</a></li>
                            <li><a href="/price">Прайс</a></li>
                            <li><a href="/contacts">Контакты</a></li>
                            <li><a href="/use">Применение</a></li>
                        </ul>
                    </div>
                    <div class="col-3 col-md-2"><img src="/images/logoS.svg" class="logo-main img-fluid" alt="simple platform"></div>
                    <div class="col-md-5 col-9 text-right">

                    {{#if isAuth}}
                        <a href="/panel" class="btn btn-primary">Панель</a>
                        <a href="/auth/logout" class="btn btn-secondary">Выход</a>
                    {{else}}
                        <a href="/login" class="btn btn-secondary">Войти</a>
                        <a href="/register" class="btn btn-primary">Регистрация</a>
                    {{/if}}

                        <div class="xs-show">
                            <div class="menu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="block-text-and-img">
                <div class="row">
                    <div class="col-md-7">
                        <h1 class="mt-md-7 mt-3">Создай свой интернет-магазин за 15 минут</h1>
                        <p>Simple Platform – удобная платформа для создания интернет-магазина.
                        <br>Подключим любую систему учёта за 1 день.
                        </p>
                        <br>
                        <a href="/register" class="btn btn-primary">Создать интернет-магазин</a>

                    </div>
                    <div class="col-md-5 xs-hide"><img src="/images/26384.png" class="img-fluid"></div>
                </div>
            </div>
        </div>

        <div class="text-on-main">

            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <p>В&nbsp;наше время без <nobr>интернет-магазина</nobr> никуда. Но&nbsp;<nobr>интернет-магазин</nobr>&nbsp;&mdash; это сложно, дорого и&nbsp;непонятно, да? У&nbsp;всех платформ есть свои плюсы и&nbsp;минусы.</p>
                    <p><acronym title="Content management system" lang="en">CMS</acronym> дают возможность для большого функционала&nbsp;&mdash; разработчики смогут настроить вам фильтры, поиск по&nbsp;категориям, ленту новостей (которой часто никто не&nbsp;пользуется), блог, всплывающие окна и&nbsp;многое другое. Из&nbsp;минусов&nbsp;&mdash; продолжительный срок разработки и&nbsp;высокая стоимость.</p>
                    <p>Конструкторы сайта&nbsp;&mdash; удобный функционал, простота запуска. Но&nbsp;дорого и&nbsp;не&nbsp;всегда понятно.</p>
                    <p>А&nbsp;если так чтобы быстро, просто и&nbsp;даже бесплатно?</p>
                </div>
            </div>
        </div>

        <h2 class="h1 text-center mb-3">Simple platform</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="anons-item">
                    <div class="anons-item__img"><img src="/images/undraw_time_management_30iu.svg"></div>
                    <div class="anons-item__text">Завести и подключить магазин можно за 15 минут.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="anons-item">
                    <div class="anons-item__img"><img src="/images/undraw_wallet_aym5.svg"></div>
                    <div class="anons-item__text">До 50 товаров – бесплатно. Навсегда.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="anons-item">
                    <div class="anons-item__img"><img src="/images/undraw_personal_settings_kihd.svg"></div>
                    <div class="anons-item__text"> Поможем, подскажем, научим.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="anons-item">
                    <div class="anons-item__img"><img src="/images/undraw_active_support_6rwo.svg"></div>
                    <div class="anons-item__text"> Мгновенная поддержка.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="anons-item">
                    <div class="anons-item__img"><img src="/images/undraw_cloud_docs_p4ob.svg"></div>
                    <div class="anons-item__text"> Подключим любую систему учёта – 1С, iiko, «мой склад» и любую другую.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="anons-item">
                    <div class="anons-item__img"><img src="/images/undraw_web_shopping_dd4l.svg"></div>
                    <div class="anons-item__text"> Возможность сделать большой интернет-магазин с блогом и новостями на базе платформы.
                    </div>
                </div>
            </div>
        </div>


        <div class="quote">Только тот, кто быстро подстраивается под стремительно меняющиеся правила игры, сможет победить</div>

        <h2 class="text-center h1 mb-4  mt-3">Тарифы</h2>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Бесплатно</h4>
                            </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>50</strong> товаров</li>
                                    <li class="list-group-item">Панель управления</li>
                                    <li class="list-group-item">Аналитика</li>
                                    <li class="list-group-item">Уведомления на почту</li>
                                    <li class="list-group-item">&nbsp;</li>
                                    <li class="list-group-item">&nbsp;</li>
                                </ul>
                            <div class="card-body">
                                <a href="/register" class="btn btn-primary btn-block">Регистрация</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">990 р/месяц</h4>
                            </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>200</strong> товаров</li>
                                    <li class="list-group-item">Панель управления</li>
                                    <li class="list-group-item">Аналитика</li>
                                    <li class="list-group-item">Уведомления на почту</li>
                                    <li class="list-group-item">Уведомления о заказах в мессенджеры</li>
                                    <li class="list-group-item">&nbsp;</li>
                                </ul>
                            <div class="card-body">
                                <a href="/register" class="btn btn-primary btn-block">Регистрация</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">1 990 р/месяц</h4>
                            </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>Неограниченное</strong> число товаров</li>
                                    <li class="list-group-item">Панель управления</li>
                                    <li class="list-group-item">Аналитика</li>
                                    <li class="list-group-item">Уведомления на почту</li>
                                    <li class="list-group-item">Уведомления о заказах в мессенджеры</li>
                                    <li class="list-group-item">Добавление своих javascript кодов</li>
                                </ul>
                            <div class="card-body">
                                <a href="/register" class="btn btn-primary btn-block">Регистрация</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
