<div class="container">
    <header class="no-main">
        <div class="row">

            {{> navbar}}
        </div>
    </header>
    <div class="price-page">
        <h1 class="mb-5 text-center">Прайс-лист</h1>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Бесплатно</h4>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>50</strong> товаров</li>
                                <li class="list-group-item">Панель управления</li>
                                <li class="list-group-item">Аналитика</li>
                                <li class="list-group-item">Уведомления на почту</li>
                                <li class="list-group-item">&nbsp;</li>
                                <li class="list-group-item">&nbsp;</li>
                            </ul>
                            <div class="card-body">
                                <a href="/register" class="btn btn-primary btn-block">Регистрация</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">990 р/месяц</h4>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>200</strong> товаров</li>
                                <li class="list-group-item">Панель управления</li>
                                <li class="list-group-item">Аналитика</li>
                                <li class="list-group-item">Уведомления на почту</li>
                                <li class="list-group-item">Уведомления о заказах в мессенджеры</li>
                                <li class="list-group-item">&nbsp;</li>

                            </ul>
                            <div class="card-body">
                                <a href="/register" class="btn btn-primary btn-block">Регистрация</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">1 990 р/месяц</h4>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Неограниченное</strong> число товаров</li>
                                <li class="list-group-item">Панель управления</li>
                                <li class="list-group-item">Аналитика</li>
                                <li class="list-group-item">Уведомления на почту</li>
                                <li class="list-group-item">Уведомления о заказах в мессенджеры</li>
                                <li class="list-group-item">Добавление своих javascript кодов</li>
                                
                            </ul>
                            <div class="card-body">
                                <a href="/register" class="btn btn-primary btn-block">Регистрация</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>