<div class="container">
    <header class="no-main">
        <div class="row">

            <div class="xs-hide col-md-5">
                <ul class="menu">
                    <li><a href="/about">О платформе</a></li>
                    <li><a href="/price">Прайс</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="col-3 col-md-2"><a href="/"><img src="/images/logoS.svg" class="logo-main img-fluid" alt="simple platform"></a></div>
            <div class="col-md-5 col-9 text-right">
                <a href="/login" class="btn btn-secondary js-link">Войти</a>
                <a href="/register" class="btn btn-primary">Регистрация</a>
                <div class="xs-show">
                    <div class="menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="price-page">
        <h1 class="mb-5 text-center">Прайс-лист</h1>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Бесплатно</h4>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>50</strong> товаров</li>
                                <li class="list-group-item">Панель управления</li>
                                <li class="list-group-item">Аналитика</li>
                                <li class="list-group-item">Уведомления на почту</li>
                            </ul>
                            <div class="card-body">
                                <a href="/register" class="btn btn-primary btn-block">Регистрация</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">990 р/месяц</h4>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>200</strong> товаров</li>
                                <li class="list-group-item">Панель управления</li>
                                <li class="list-group-item">Аналитика</li>
                                <li class="list-group-item">Уведомления на почту</li>
                                <li class="list-group-item">Уведомления о заказах в мессенджеры</li>
                            </ul>
                            <div class="card-body">
                                <a href="/register" class="btn btn-primary btn-block">Регистрация</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">1 990 р/месяц</h4>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Безграничное</strong> число товаров</li>
                                <li class="list-group-item">Панель управления</li>
                                <li class="list-group-item">Аналитика</li>
                                <li class="list-group-item">Уведомления на почту</li>
                                <li class="list-group-item">Уведомления о заказах в мессенджеры</li>
                                <li class="list-group-item">Добавление своих javascript кодов</li>
                            </ul>
                            <div class="card-body">
                                <a href="/register" class="btn btn-primary btn-block">Регистрация</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>