<div class="container">
    <header class="no-main">
        <div class="row">

            {{> navbar}}

        </div>
    </header>
    <div class="price-page">
        <h1 class="mb-5 text-center">Кому пригодится и как использовать</h1>
        <div class="row">
            <div class="col-md-8 offset-md-2 mb-3">
                <p>На&nbsp;самом деле <b>всем</b>, кто занимается продажей товаров и&nbsp;даже услуг.&nbsp;Если у&nbsp;вас нет <nobr>интернет-магазина</nobr> и&nbsp;вы&nbsp;не&nbsp;размещаетесь в&nbsp;интернете или только в&nbsp;маркетплейсах.</p>
                <p>Вы&nbsp;можете разместить на&nbsp;нашей платформе свои товары, мы&nbsp;сгенерируем для вас отдельную страницу с&nbsp;полноценным функционалом <nobr>интернет-магазина</nobr>.</p>
                <h2>Для ресторанов и&nbsp;общепита</h2> <p>Которые не&nbsp;занимаются доставкой мы&nbsp;придумали чем можем быть полезны.</p>
                <p>Вы&nbsp;загружаете свою меню&nbsp;&mdash; мы&nbsp;автоматически генерируем страничку в&nbsp;интернете. В&nbsp;панели администратора будет сформирован QR&nbsp;код, который вы&nbsp;можете распечатать и&nbsp;положить у&nbsp;себя на&nbsp;столах в&nbsp;заведении.</p>
                <p>Посетители, приходя к&nbsp;вам в&nbsp;гости, теперь не&nbsp;будут ждать, когда к&nbsp;ним придёт официант и&nbsp;принесёт меню. Плюс пропадает необходимость брать в&nbsp;руки меню, которое брали до&nbsp;него в&nbsp;руки&nbsp;другие гости.</p>
            </div>
            <div class="col-md-6 offset-md-3">
                <img src="/images/undraw_User_flow_re_bvfx.svg" class="img-fluid">
            </div>
        </div>
    </div>
</div>
