<div class="container mb-4">
    <h1 class="p-2">Каталог {{shop.name}}</h1>
    <div class="big-card mb-4">
    {{#each catogorys}}
        <div class="p-2 d-inline-block">
            <a href="/{{../shop.url}}/catalog/section/{{id}}" class="btn btn-category">
                {{name}}
            </a>
        </div>
    {{/each}}
    </div>
</div>