<div class="container mb-4">
    <h1 class="mb-2">Оплата и доставка</h1>

    <h3>Информация о доставке</h3>
    {{texts.delivery}}

    <hr>

    <h3>Информация об оплате</h3>
    {{texts.payments}}


</div>