<div class="container mb-4" id="page-basket">
    <h1 class="text-center p-2">{{title}}</h1>
    
    <div class="text-center">
        <p>Поздравляем, вы успешно оформили заказ #{{id}}👌</p>
        <p>Мы скоро свяжемся с вами по указанным данным.</p>
        <br>
        <img src="/images/undraw_order_confirmed_aaw7-2.svg" style="width: 60%;">
    </div>

</div>