<div class="row">
    <div class="col-md-12">
        <div class="block-style p-4">
                {{#if error}}
                    <div class="alert alert-danger">{{ message}}</div>
                {{/if}}
                {{#if success}}
                    <div class="alert alert-success">{{ message}}</div>
                {{/if}}


            <p>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="paper-plane" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="25px" color="#0088cc"><path fill="currentColor" d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z" class=""></path></svg>
                <a href="https://t-do.ru/simple_platform">Написать нам в Telegram</a>
            </p>
            <p>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="mailbox" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" height="25px"><path fill="currentColor" d="M144 64A144 144 0 0 0 0 208v208a32 32 0 0 0 32 32h256V208A144 144 0 0 0 144 64zm80 176a16 16 0 0 1-16 16H80a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h128a16 16 0 0 1 16 16zM432 64H244.87C290.23 95.87 320 148.48 320 208v240h224a32 32 0 0 0 32-32V208A144 144 0 0 0 432 64zm80 208a16 16 0 0 1-16 16h-32a16 16 0 0 1-16-16v-48h-56a8 8 0 0 1-8-8v-16a8 8 0 0 1 8-8h104a16 16 0 0 1 16 16z" class=""></path></svg>
                <a href="mailto:alexey@shelikhov.me">Написать нам на почту</a>
            </p>
            Пришлите нам свою выгрузку или напишите нам и мы настроим обмен товарами.

        </div>
    </div>
</div>
