                            <div class="row">
                                <div class="col-9"><h4 class="mb-3">Последние заказы</h4></div>
                                <div class="col-3 text-right"><a href="/panel/orders/">Все заказы</div>
                            </div>                            
                            <div class="block-style mb-4">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="order-item-left-block">
                                            <strong class="mb-2">
                                                <a href="/panel/orders/::id">
                                                 Заказ #234
                                                </a>
                                            </strong>
                                            <div class="desciption">
                                                Детали заказа:
                                                <br>
                                                <span class="badge bg-primary">Доставка: <strong>Самовывоз</strong></span>
                                                <span class="badge bg-secondary">Оплата: <strong>Картой при получении</strong></span>
                                                <span class="badge bg-danger">Оплата: <strong>Не оплачен</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="order-item-right-block">
                                            <div class="order-item-right-block__price">
                                                Сумма заказа<br>
                                                <span class="js-price">32134</span>
                                            </div>
                                            <span class="badge bg-warning">Принят</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-style mb-4">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="order-item-left-block">
                                            <strong class="mb-2">
                                                <a href="/panel/orders/::id">
                                                 Заказ #233
                                                </a>
                                            </strong>
                                            <div class="desciption">
                                                Детали заказа:
                                                <br>
                                                <span class="badge bg-primary">Доставка: <strong>Самовывоз</strong></span>
                                                <span class="badge bg-secondary">Оплата: <strong>Картой на сайте</strong></span>
                                                <span class="badge bg-success">Оплата: <strong>Оплачен</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="order-item-right-block">
                                            <div class="order-item-right-block__price">
                                                Сумма заказа<br>
                                                <span class="js-price">32134</span>
                                            </div>
                                            <span class="badge bg-success">Оплачен</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-style mb-4">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="order-item-left-block">
                                            <strong class="mb-2">
                                                <a href="/panel/orders/::id">
                                                 Заказ #234
                                                </a>
                                            </strong>
                                            <div class="desciption">
                                                Детали заказа:
                                                <br>
                                                <span class="badge bg-primary">Доставка: <strong>Самовывоз</strong></span>
                                                <span class="badge bg-secondary">Оплата: <strong>Картой при получении</strong></span>
                                                <span class="badge bg-danger">Оплата: <strong>Не оплачен</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="order-item-right-block">
                                            <div class="order-item-right-block__price">
                                                Сумма заказа<br>
                                                <span class="js-price">32134</span>
                                            </div>
                                            <span class="badge bg-warning">Принят</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-style mb-4">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="order-item-left-block">
                                            <strong class="mb-2">
                                                <a href="/panel/orders/::id">
                                                 Заказ #233
                                                </a>
                                            </strong>
                                            <div class="desciption">
                                                Детали заказа:
                                                <br>
                                                <span class="badge bg-primary">Доставка: <strong>Самовывоз</strong></span>
                                                <span class="badge bg-secondary">Оплата: <strong>Картой на сайте</strong></span>
                                                <span class="badge bg-success">Оплата: <strong>Оплачен</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="order-item-right-block">
                                            <div class="order-item-right-block__price">
                                                Сумма заказа<br>
                                                <span class="js-price">32134</span>
                                            </div>
                                            <span class="badge bg-success">Оплачен</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-style mb-4">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="order-item-left-block">
                                            <strong class="mb-2">
                                                <a href="/panel/orders/::id">
                                                 Заказ #234
                                                </a>
                                            </strong>
                                            <div class="desciption">
                                                Детали заказа:
                                                <br>
                                                <span class="badge bg-primary">Доставка: <strong>Самовывоз</strong></span>
                                                <span class="badge bg-secondary">Оплата: <strong>Картой при получении</strong></span>
                                                <span class="badge bg-danger">Оплата: <strong>Не оплачен</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="order-item-right-block">
                                            <div class="order-item-right-block__price">
                                                Сумма заказа<br>
                                                <span class="js-price">32134</span>
                                            </div>
                                            <span class="badge bg-warning">Принят</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-style mb-4">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="order-item-left-block">
                                            <strong class="mb-2">
                                                <a href="/panel/orders/::id">
                                                 Заказ #233
                                                </a>
                                            </strong>
                                            <div class="desciption">
                                                Детали заказа:
                                                <br>
                                                <span class="badge bg-primary">Доставка: <strong>Самовывоз</strong></span>
                                                <span class="badge bg-secondary">Оплата: <strong>Картой на сайте</strong></span>
                                                <span class="badge bg-success">Оплата: <strong>Оплачен</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="order-item-right-block">
                                            <div class="order-item-right-block__price">
                                                Сумма заказа<br>
                                                <span class="js-price">32134</span>
                                            </div>
                                            <span class="badge bg-success">Оплачен</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        